<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Agregar Empleado
                        <div *ngIf="loading" class="spinner-border float-right" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                    </h3>
                    <span *ngIf="submitted && createEmpleado.invalid" class="badge badge-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                    <form class="mt-4" [formGroup]="createEmpleado" (ngSubmit)="guardarEmpleado()">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="nombres" placeholder="Nombres">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control form-control-lg" formControlName="apellidos" placeholder="Apellidos">
                            </div>
                        </div>
                        <input type="text" class="form-control form-control-lg mt-3" formControlName="documento" placeholder="Documento">
                        <input type="number" class="form-control form-control-lg mt-3" formControlName="salario" placeholder="Salario">
                        <div class="mt-3">
                            <button type="text" class="btn btn-outline-secondary mr-3" routerLink="/list-empleados">Regresar</button>
                            <button type="submit" class="btn btn-outline-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>